@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.bg {
  background: url("https://images.unsplash.com/photo-1588466585717-f8041aec7875?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80");
  filter: blur(30px);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: -20px;
  bottom: -20px;
  left: -20px;
  right: -20px;
}

.container {
  height: 370px;
  width: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 10px 37px 20px 37px;
  position: absolute;
  border-radius: 5px;
  box-shadow: 2px 5px 15px 5px rgba(0, 0, 0, 0.4);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  font-size: 28px;
  text-align: center;
}

small {
  text-align: center;
  margin-top: -17px;
}

form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

label {
  padding: 20px 0 10px 0;
  font-weight: bold;
}

input {
  height: 40px;
  border: solid grey 1px;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 16px;
}

input:focus {
  outline: none;
  border: solid 2px rgb(5, 42, 122);
}

button {
  margin-top: 30px;
  background-color: black;
  color: white;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
